<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">

		<head th:replace="fragments :: html_head"/>
		
		<body>
		
			<div class="container_style">
			
				<div th:replace="fragments :: header"></div>
				
				<div th:replace="fragments :: nav_default"></div>
					
				<div class="content_style">
					<table class="table">
						<tr>
							<th th:text="#{fn}">First name</th>
							<th th:text="#{ln}">Last name</th>
							<th th:text="#{bd}">Birth date</th>
							<th th:text="#{job.start}">Job start in the company</th>
							<th th:text="#{company.aff}">Company affiliation</th>
							<th th:text="#{description}">Description</th>
							<th><a th:href="@{'delete/' + ${returnedEmployee.id}}"><input class="form_button" type="button" value="Delete"></a></th>
						</tr>
						<tr>
							<td th:utext="${returnedEmployee.firstName}">First name</td>
							<td th:utext="${returnedEmployee.lastName}">Last name</td>
							<td th:utext="${returnedEmployee.birthDate}">Birth date</td>
							<td th:utext="${returnedEmployee.jobStartInTheCompany}">Job start in the company</td>
							<td th:utext="${returnedEmployee.companyAffiliation}">Company affiliation</td>
							<td th:if="${returnedEmployee.description}" th:utext="${returnedEmployee.description}">Description</td>
							<td th:unless="${returnedEmployee.description}" th:text="#{descr.empty}">Description is empty</td>
						</tr>	
					</table>
				</div>
				
				<div th:replace="fragments :: copyright"></div>
				
			</div>
			
		</body>

	</html>