<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	
		<head th:fragment="html_head">
		
			<meta charset="ISO-8859-1">
			<title>Title of home page</title>
			<link rel="stylesheet" type="text/css" media="all" href="../../styles/standard.css" th:href="@{/styles/standard.css}"/>
		
		</head>
		
		<body>
			
			<div th:fragment="header" class="header_style">Dataconvert App</div>
			
			<ul th:fragment="nav_default" class="sidebar_style">
				<li><a class="s13" th:href="@{/}">Home</a></li>
				<li><a class="s13" th:href="@{/employees}" th:text="#{e.list}">Employees</a></li>
				<li><a class="s13" th:href="@{/users}" th:text="#{u.list}">Users</a></li>
				<li>
					<a th:if="${#authorization.expression('isAuthenticated()')}" class="s13" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
			
			<div th:fragment="copyright" class="footer_style">&copy; A_M_land</div>
		
		</body>
		
	</html>